{% extends "fredapp/master.html" %}
{% load static %}
{% block title %} Fredice Music home {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'fredapp/css/base.css' %}?20240528">
<main>
    <section class="top">
        <div id="bck-img"></div>
        <div class="headline">
            <h1>FREDICE MUSIC</h1>
        </div>
    </section>
    <section class="second-section">
        <div class="top-right-section">
            <div class="section-inset">
                <h1>New Music</h1>
                <div class="section-inset-bottom">
                    <span class="btn-wrap"><a href="" class="btn btn-circular"> <i class="fas fa-play"></i></a></span>
                </div>
                <aside class="section-inset-right">
                    <div class="text-wrap">
                        <p class="text">
                            Discover the soul-stirring tunes and captivating lyrics that define FredIce's unique sound.
                            From intimate acoustic melodies to high-energy anthems, immerse yourself in a musical
                            journey that transcends
                            boundaries and touches hearts worldwide.
                        </p>
                    </div>
                </aside>
            </div>
        </div>
    </section>

    <section class="third-section">
        <div class="headliner">
            <h2>New Summer Single</h2>
            <div class="discover-youtube_thumbnail">
                <div class="thumbnail">
                    <iframe src="https://www.youtube.com/watch?v=Q3WUryX2_qo&list=OLAK5uy_m3YiglJcEC8e8pb0Nicwnj8DtpIdMWfa0"></iframe>
                </div>
            
            </div>
            <div class="headliner-text">
                <h3>LISTEN TO FREDICE ON ALL YOUR FAVOURITE PLATFORM</h3>
            </div>
        </div>
       
    </section>
    <section class="fourth-section">
        <div class="discover-grid">
            <h1>About Me</h1>
            <div class="discover_1">
                <div class="discover_semi1 slide img_prop">h2</div>
                <div class="discover_semi2 slide img_prop">h3</div>
                <div class="discover_semi3 slide img_prop">h3</div>
            </div>
            
        </div>
    </section>
    <section class="fifth-section">
        <div class="contact_wrap">
            <h4>Contact Us</h4>
            <div class="contact-grid">
                <div class="social-media-icons">
                    <a href="https://www.facebook.com" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.twitter.com" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <!-- Add more social media links as needed -->
                </div>
            </div>
            
        </div>
    </section>
</main>
{% endblock %}



<div class="discover_2">
    <p>
        Discover the soul-stirring tunes and captivating lyrics that define FredIce's unique sound.
        From intimate acoustic melodies to high-energy anthems, immerse yourself in a musical journey that transcends
        boundaries and touches hearts worldwide.
    </p>

    <a class="Explore" href="{% url 'album_list' %}">
        <h3>Explore</h3>
        <p>
            Explore the latest releases, upcoming tour dates, and exclusive behind-the-scenes content.
            Join ur community of music lovers and experience the magic of FredIce's artistry firsthand.
        </p>

        <p>
            Ready to embark on a sonic adventure? Dive into FredIce's discography, shop for merch, and stay connected
            through
            our social channels. Whether you're a long-time fan or just discovering our music, there's always something
            new to
            explore in FredIce's vibrant world.
        </p>
    </a>