{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'fredapp/css/master.css' %}?20240528?">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <section class="nav-wrap">
            <header>
                <h1><a class="Title" href="{% url 'fredapp:home' %}">Fredice</a></h1>
                <nav>
                    <ul>
        
        
                        <li class="nav-list"><a href="{% url 'blog:blog-home' %}">Blog</a></li>
                        <li class="nav-list"><a href="{% url 'contact:contact-home' %}">Music</a></li>
                        <li class="nav-list"><a href="{% url 'contact:contact-home' %}">Videos</a></li>
                        <li class="nav-list"><a href="{% url 'contact:contact-home' %}">Tour</a></li>
                        <li class="nav-list"><a href="{% url 'contact:contact-home' %}">Shop</a></li>
                        <li class="nav-list"><a href="{% url 'contact:contact-home' %}">Contact</a></li>
                        <!-- Add other navigation links here -->
                    </ul>
                </nav>
            </header>
        </section>
        <div class="brkline"></div>
        {% block content %}
        {% endblock %}

        <section class="fifth-section">
            <div class="contact_wrap">
                <h4>Contact Us</h4>
                <div class="contact-grid">
                    <div class="social-media-icons">
                        <a href="https://www.facebook.com" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.twitter.com" class="social-icon"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com" class="social-icon"><i class="fab fa-instagram"></i></a>
                        <p class="email-link"><a href="email.com" class="elink">or send us an email</a></p>
                        <!-- Add more social media links as needed -->
                    </div>
                    <div class="contact">
                        <div class="subscribe">
                            <h2 class="subscribe-text"> Join Our Band of Social Deliquents</h2>
                            <p class="subscribe-text">We dont Promise to - quite often behave ourselves - But We do promise a
                                good time and experience</p>
                            <div class="subscribe-btn">
                                <label id="email" class="subscribers">Your Email
                                    <input id="email_subcribers" class="email" type="email" placeholder="Join Us">
                                </label>
                                <input id="submit" class="submit_btn" type="button" placeholder="Submit" value="submit">
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
        </section>
        <footer>
            <p>&copy; 2024 FredIce Music</p>
        </footer>
    </body>
</html>
