{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'fredapp/css/master.css' %}?20240528?">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <section class="nav-wrap">
            <header>
                <h1><a class="Title" href="{% url 'fredapp:home' %}">Fredice</a></h1>
                <nav>
                    <ul>
        
        
                        <li class="nav-list"><a href="{% url 'blog:blog-home' %}">Blog</a></li>
                        <li class="nav-list"><a href="{% url 'contact:contact-home' %}">Music</a></li>
                        <li class="nav-list"><a href="{% url 'contact:contact-home' %}">Videos</a></li>
                        <li class="nav-list"><a href="{% url 'contact:contact-home' %}">Tour</a></li>
                        <li class="nav-list"><a href="{% url 'contact:contact-home' %}">Shop</a></li>
                        <li class="nav-list"><a href="{% url 'contact:contact-home' %}">Contact</a></li>
                        <!-- Add other navigation links here -->
                    </ul>
                </nav>
            </header>
        </section>
        <div class="brkline"></div>
        {% block content %}
        {% endblock %}
        <footer>
            <p>&copy; 2024 FredIce Music</p>
        </footer>
    </body>
</html>
